[Unit]
Description=Changing chmod 777 to /var/www/html/inpost/core/static/media'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Environment="PYTHONPATH=/var/www/html/inpost"
WorkingDirectory=/var/www/html/inpost/telegram_bot
ExecStart=/var/www/html/inpost/.venv/bin/python3.10 /var/www/html/inpost/telegram_bot/system_cron.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target