[Unit]
Description=Telegram Chat Statistics
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Environment="PYTHONPATH=/var/www/html/inpost"
WorkingDirectory=/var/www/html/inpost/telegram_bot
ExecStart=/var/www/html/inpost/.venv/bin/python3.10 /var/www/html/inpost/telegram_bot/chat_stats.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target