asgiref
autopep8
beautifulsoup4~=4.12.3
certifi
charset-normalizer
cssselect2
dj-database-url
Django~=5.0.7
django-betterforms
django-calendarium
django-crispy-forms
django-debug-toolbar
django-emoji-picker
django-filer
django-js-asset
django-libs
django-markitup~=4.1.0
django-mptt
django-polymorphic
easy-thumbnails
greenlet
gunicorn
idna
importlib-metadata
lxml
Markdown
Pillow
pyaes
pycodestyle
PySocks
pyTelegramBotAPI~=4.21.0
python-dateutil
python-decouple
pytz
reportlab
requests~=2.32.3
six
soupsieve
SQLAlchemy
sqlparse
svglib
TgCrypto
tinycss2
toml
typing_extensions
Unidecode
Unipath~=1.1
urllib3~=2.2.2
webencodings
whitenoise
zipp
Pyrogram~=2.0.106
watchdog
PyQt5~=5.15.11
pyinotify~=0.9.6