asgiref
autopep8
beautifulsoup4
certifi
charset-normalizer
cssselect2
dj-database-url
Django
django-betterforms
django-calendarium
django-crispy-forms
django-debug-toolbar
django-emoji-picker
django-filer
django-js-asset
django-libs
django-markitup
django-mptt
django-polymorphic
easy-thumbnails
greenlet
gunicorn
idna
importlib-metadata
lxml
Markdown
Pillow
pyaes
pycodestyle
PySocks
pyTelegramBotAPI
python-dateutil
python-decouple
pytz
reportlab
requests
six
soupsieve
SQLAlchemy
sqlparse
svglib
TgCrypto
tinycss2
toml
typing_extensions
Unidecode
Unipath
urllib3
webencodings
whitenoise
zipp
Pyrogram
watchdog