{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <body class="bg-light bg-gradient">
    <a id="back-btn" href="#" class="text-black"><h3>Назад</h3></a>
    <div class="container">
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group form-control">
                {{ form.post|as_crispy_field }}
            </div>
            <div class="form-group form-control ">
                {{ form.schedule|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-primary w-50">Обновить</button>
        </form>
        <a id="delete" href="">
            <button type="submit" class="btn btn-danger text-dark w-50">Удалить</button>
        </a>
    </div>
    </body>
    <script>
        let _id = window.location.pathname.split('/')[2]
        let del_btn = document.getElementById("delete")
        del_btn.setAttribute("href", `/schedule_delete/${_id}`)

        let now = new Date();
        let year = now.getFullYear();
        let month = now.getMonth();
        let back_btn = document.getElementById("back-btn")
        back_btn.setAttribute("href", `/calendar/${year}/${month + 1}`)

    </script>
{% endblock %}