{% extends 'layouts/base.html' %}


{% block stylesheets %}
    <!-- Emoji CSS Area -->
    <link rel="stylesheet" href="/static/assets/css/emojionearea.css"/>
{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="title">Создание поста</h3>
                </div>
                <div class="card-body">
                    {% load crispy_forms_tags %}
                    <form id="post_form" method="post" action="" enctype="multipart/form-data">

                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-8 px-md-3">
                                <div class="form-group">
                                    <h4><b>Выберите тип сообщения:</b></h4>
                                    {{ postForm.post_type }}
                                </div>
                            </div>
                            <div class="col-md-8 px-md-3">
                                <div class="form-group">
                                    <h4><b>Заголовок сообщения: </b><small>
                                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Необходим для более понятного добавления поста в расписание">
                                        </i></small></h4>
                                    {{ postForm.name }}
                                </div>
                            </div>
                            <div class="col-md-8 px-md-3">
                                <div class="form-group">
                                    <h4><b>Текст сообщения: </b><small>
                                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                                           data-placement="top" title="Можете добавлять в тескт Emoji">
                                        </i></small></h4>
                                    {{ postForm.text }}
                                </div>
                            </div>
                            <div class="col-md-8 px-md-3">
                                <div class="form-group">
                                    <h4><b>Выберите бота: </b><small>
                                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                                           data-placement="top" title="Выберите из списка ваших ботов">
                                        </i></small></h4>
                                    {{ postForm.bot }}
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-social" data-toggle="collapse" href="#collapseMedia" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            Добавить Медиа Файлы
                        </a><small>
                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                           data-placement="top" title="Добавляйте к своему посту фото, видео, музыку и различные документы в т.ч. rar и zip файлы.
                                                       Максимум 10 вложений в один пост">
                        </i></small>

                        {#                        <div class="collapse" id="collapseMedia">#}
                        {#                            <div class="row">#}
                        {#                                <div class="col-md-8 px-md-3">#}
                        {#                                                                {{ formset.management_form }}#}
                        {#                                    {% for form in formset %}#}
                        {#                                        {{ form }}#}
                        {#                                    {% endfor %}#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="collapse" id="collapseMedia">
                            <div class="row">
                                <div class="col-md-8 px-md-3">
                                    <a id="photoCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapsePhoto" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Фото</a>
                                    <div class="collapse" id="collapsePhoto">
                                        {{ formsetI.management_form }}
                                        {% for form in formsetI %}
                                            {{ form }}
                                        {% endfor %}
                                    </div>

                                    <a id="videoCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapseVideo" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Видео
                                    </a>
                                    <div class="collapse" id="collapseVideo">
                                        {{ formsetV.management_form }}
                                        {% for form in formsetV %}
                                            {{ form }}
                                        {% endfor %}
                                    </div>

                                    <a id="MusicCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapseMusic" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Музыка
                                    </a>
                                    <div class="collapse" id="collapseMusic">
                                        {{ formsetM.management_form }}
                                        {% for form in formsetM %}
                                            {{ form }}
                                        {% endfor %}
                                    </div>

                                    <a id="docCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapseDocs" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Документы
                                    </a>
                                    <div class="collapse" id="collapseDocs">
                                        {{ formsetD.management_form }}
                                        {% for form in formsetD %}
                                            {{ form }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit" name="submit">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="load"></div>
            <div id="text_load"></div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.rawgit.com/yuku-t/jquery-textcomplete/v1.3.4/dist/jquery.textcomplete.js"></script>
    <script>
        const text_input = document.querySelector('[name*="text"]');
        const name_input = document.querySelector('[name*="name"]');

        {#text_input.addEventListener('change', () => {text_load.textContent = text_input.value});#}
        $('[name*="text"]').emojioneArea()
        {#$('[name*="text"]').addEventListener('input', () => {text_load.textContent = text_input.value});#}

        const load = document.querySelector('.load');
        const text_load = document.querySelector('#text_load');

        const photo_inputs = document.querySelectorAll('input[name$="photos"]');
        const photo_labels = document.querySelectorAll('label[for$="photos"]');

        const music_inputs = document.querySelectorAll('input[name$="music"]');
        const music_labels = document.querySelectorAll('label[for$="music"]');

        const video_inputs = document.querySelectorAll('input[name$="video"]');
        const video_labels = document.querySelectorAll('label[for$="video"]');

        const document_inputs = document.querySelectorAll('input[name$="document"]');
        const document_labels = document.querySelectorAll('label[for$="document"]');

        const photo_collapse = document.querySelector('#photoCollapse')
        const video_collapse = document.querySelector('#videoCollapse')
        const music_collapse = document.querySelector('#musicCollapse')
        const doc_collapse = document.querySelector('#docCollapse')

        function inputHandler(inputs, labels) {
            for (let index = 0; index < inputs.length; ++index) {
                const input = inputs[index];
                input.setAttribute('style', 'display:none')
                input.addEventListener('change', (e) => {
                    try {
                        let item = inputs[index + 1];
                        item.setAttribute('style', '');
                    } catch (e) {
                        console.log(e);
                    }
                    let tgt = e.target || window.event.srcElement,
                        files = tgt.files;

                    load.innerHTML = '';

                    if (files && files.length) {
                        for (let i = 0; i < files.length; i++) {
                            let $self = files[i],
                                fr = new FileReader();
                            fr.onload = function (e) {
                                load.insertAdjacentHTML('beforeEnd', `<img class="img-thumbnail" width="150px" height="120px" src="${e.srcElement.result}"/>`);
                            }
                            fr.readAsDataURL(files[i]);
                        }
                    }
                });

                const label = labels[index];
                label.setAttribute('style', 'display:none');
            }
            const init_input = inputs[0];
            const init_label = labels[0];
            init_input.setAttribute('style', '');
            init_label.setAttribute('style', '');

        }

        {
            inputHandler(photo_inputs, photo_labels);
            inputHandler(music_inputs, music_labels);
            inputHandler(video_inputs, video_labels);
            inputHandler(document_inputs, document_labels);
        }


    </script>
{% endblock javascripts %}