<div class="sidebar" data="{{ status_of_user.primary_color }}">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a rel="sponsored noopener noreferrer"
               href="/" class="simple-text logo-mini">
                TG
            </a>
            <a rel="sponsored noopener noreferrer"
               href="/" class="simple-text logo-normal">
                Telegram panel
            </a>
        </div>
        <ul class="nav">
            {% if request.user.is_authenticated %}
                <li class="{% if 'index' in segment %} active {% endif %}">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <h6>Главная</h6>
                    </a>
                </li>
                <li class="{% if 'post' in segment %} active {% endif %}">
                    <a href="/post">
                        <i class="tim-icons icon-paper"></i>
                        <h6>Мои Посты</h6>
                    </a>
                </li>

                <li class="{% if 'chat' in segment %} active {% endif %}">
                    <a href="/chat">
                        <i class="tim-icons icon-chat-33"></i>
                        <h6>Мои Каналы</h6>
                    </a>
                </li>
                {#                <li class="{% if 'mychat' in segment %} active {% endif %}">#}
                {#                    <a href="#">#}
                {#                        <i class="tim-icons icon-alert-circle-exc"></i>#}
                {#                        <p>Мои Чаты (в разработке)</p>#}
                {#                    </a>#}
                {#                </li>#}
                <li class="{% if 'bot' in segment %} active {% endif %}">
                    <a href="/bot">
                        <i class="tim-icons icon-atom"></i>
                        <h6>Мои Боты</h6>
                    </a>
                </li>
                <li class="{% if 'calendar' in segment %} active {% endif %}">
                    <a href="/calendar/{% now "Y" %}/{% now "m" %}/">
                        <i class="tim-icons icon-calendar-60" aria-hidden="true"></i>
                        <h6>Календарь</h6>
                    </a>
                </li>


                {% if request.user.is_superuser %}
                    <li class="dropdown nav-item">
                        <a href="/admin_page">
                            <i class="tim-icons icon-app"></i>
                            <h6>Администратор</h6>
                        </a>
                    </li>
                {% endif %}

                {% if request.user.is_superuser %}
                    <li class="{% if 'spm' in segment %} active {% endif %}">
                        <a href="/spm/accs">
                            <i class="tim-icons icon-alert-circle-exc"></i>
                            <h6>Спамер</h6>
                        </a>
                    </li>
                {% endif %}

                {% if request.user.is_superuser %}
                    <li>
                        <a href="http://92.255.78.181/show">
                            <i class="tim-icons icon-app"></i>
                            <h6>Slivki Dosug</h6>
                        </a>
                    </li>
                {% endif %}

                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/user_profile/{{ user.id }}">

                        <h6><i class="tim-icons icon-single-02"></i> Профиль</h6>
                    </a>
                </li>

            {% endif %}
        </ul>
    </div>
</div>
