<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {% if 'account' in spm_segment %}active{% else %}{% endif %}" href="{% url "accs" %}">Аккаунты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if 'chat' in spm_segment %}active{% else %}{% endif %}" href="/spm/chat">Чаты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if 'stats' in spm_segment %}active{% else %}{% endif %}" href="/spm">Статистика</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if 'logging' in spm_segment %}active{% else %}{% endif %}" href="/spm/logging">LOGS</a>
  </li>
</ul>