{% extends "layouts/spam-base.html" %}
{% block title %} Аккаунты для рассылки {% endblock %}

{% block content %}
    <div class="p-2 mt-3">
        {% if spam_active %}
            <h4 class="p-3 bg-info col-4 rounded text-dark">Спам Запущен 🔥🔥🔥 (аккаунтов в работе {{ spam_active }})</h4>
            {% else %}
            <h4 class="p-3 bg-warning col-4 rounded text-dark">Спам Остановлен 🛑</h4>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <h2 class="d-inline-block">Мои Аккаунты</h2>
                <a href="upload" class="btn btn-primary">+ Добавить Акк</a>
                <a href="/spm/autoanswering/create/" class="btn btn-secondary">+ Шаблон Автоответчика</a>
                <a href="/spm/autoanswering/" class="btn btn-secondary"> << Список</a>
                <a href="/spm/common_text/create/" class="btn btn-secondary">+ Шаблон Рассылки</a>
                <a href="/spm/common_text/" class="btn btn-secondary"> << Список</a>
            </div>
        </div>

        <div class="btn-group">
                <a class="btn btn-secondary" href="spam_activate"> Запустить Спам 🔥</a>
                <a class="btn btn-secondary" href="spam_deactivate" > Остановить Спам 🛑</a>
        </div>
        <p></p>


    </div>
    <div class="row mt-3">
        {% for acc in accounts %}
            <div class="col-sm-3 mb-3 mb-sm-0">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Загружен: <span class="text text-primary">{{ acc.datetime }}</span></h5>
                        <p class="card-text">Имя: <span class="text text-primary">{{ acc.first_name }}</span></p>
                        <p class="card-text">Фамилия: <span class="text text-primary">{{ acc.last_name }}</span></p>
                        <p class="card-text">{% if acc.status %}<span class="text-success">Активен: </span>💓{% else %}
                            <span class="text-danger">Неактивен:</span> 💀{% endif %}</p>
                        <p class="text-primary">Спам {% if acc.is_spam_active %}Запущен ✅{% else %}Остановлен
                            ❌{% endif %}</p>
                        <p class="text-primary">Автоответчик {% if acc.is_auto_answering_active %}
                            ✅{% else %}❌{% endif %}</p>
                        <p class="card-img"><img class="img-thumbnail" style="width: 15em;" src="{{ MEDIA_URL }}{{ acc.photo }}"
                                                 alt="acc image"/></p>
                        <a href="{{ acc.id_account }}" class="btn btn-primary mt-3">Подробнее</a>
                    </div>

                    <div class="p-3">
                        <a href="{{ acc.id_account }}/update/">Редактировать <i class="fa fa-edit"></i> </a>
                        ||
                        <a href="{{ acc.id_account }}/delete/"> Удалить <i class="fa fa-trash"></i></a>
                    </div>

                </div>


            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}