{% extends "layouts/spam-base.html" %}
{% block title %} Аккаунты для рассылки {% endblock %}

{% block content %}

    <div class="p-2 m-1">
        <h1> Каналы для подписки </h1>
        <p></p>

        <ul class="col-6 nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link bg-info text-dark" href="create"><b>+ Добавить Канал</b></a>
            </li>
        </ul>

    </div>
{% endblock content %}

{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}